/* Barra de navegacion */
.nav__barraDeNavegacion--boxYFlex{
    justify-content: flex-end;
}

.nav_items--boxYFlex{margin: 6px;
}

/* Logo de la barra de navegacion */
.nav__logo--boxYFlex{margin-left: 2px;}


body{
    transition:  background-color 800ms ease;
   
} 

ul li{
   list-style: none;
    padding: 8px;
    margin: 4px;
}

/* Marquee */
.marquee_contenedor--color{
    background-color:black;
}

.marquee_texto--color{
    color: white;
}

.resaltado{
    color: #FFD600;
}

.nav__fondo--color{
    background-color:#877D76!important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2) !important;
    opacity: 0.9;

}

.nav__items--color {color:white !important; }

.nav__items--color:hover{color:#FFD600 !important;}