@font-face {
    font-family: "Exodus Demo Striped";
    src: url('../../tipografia/ExodusDemo-Striped.otf');
}

.items{
    background-color: black;
    color: #F4576C;
    font-family: "Exodus Demo Striped";
    font-size: 30px;
    padding-top: 90px;
}

.card-body{
    background-color: #F4576C;
    border: 0px;
}